{% include 'base.html' %}{% block content %}
<h2>{{ cats }} Category</h2>
{% if category_posts %} {% for post in category_posts %}
<ul class="list-group">
  <li class="list-group-item">
    <a href="{% url 'articleDetail' post.pk %}">{{ post.title }}</a>
    {{post.author}}
    <br />
    {{ post.body|slice:":200" }} {% if user.is_authenticated %}
    <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small>
    <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
    {% endif %}
  </li>
  <br /><br />
  {% endfor %}
</ul>
{% else %} No Posts are made under This Category Yet {% endif %} {% endblock %}
